.config/qutebrowser/bookmarks/
.config/qutebrowser/qsettings/
.config/qutebrowser/quickmarks/
.config/qutebrowser/autoconfig.yml
.config/systemd/user/pscircle.service

.config/watson/frames*
.config/watson/state*
