[Unit]
Description=Runs pscircle to continuously update desktop wallpaper 

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/zsh -c "while true; do pscircle \
--output-width=2560 \
--output-height=1440 \
--tree-font-size=13 \
--dot-border-width=0 \
--dot-radius=6 \
--tree-font-face=Arial \
--root-pid=1 \
--collapse-threads=0 \
--tree-radius-increment=100,150 \
--show-root=1 \
--background-color={background.strip}FF \
--tree-font-color={foreground.strip}FF \
--dot-color-min={color2.strip}FF \
--dot-color-max={color1.strip}FF \
--link-color-min={color2.strip}55 \
--link-color-max={color1.strip}55 \
--cpulist-show=0 \
--memlist-show=0; sleep 30; done"

[Install]
WantedBy=graphical.target

